<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Creator</th>
        <th>Recipe</th>
        <th>Style</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach(function(r) { %>
        <tr>
          <td><%= r.userName %></td>
          <td><%= r.title %></td>
          <td><%= r.style %></td>
          <td><a href="/recipes/<%= r._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<!-- <% if (user) { %>
   <h1>All Recipes Page!</h1> 
<% } else { %>
    <span>Please Login in order to leave a Review</span>
<% } %> -->


<%- include('../partials/footer') %>